<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Files</title>
    <style>
        table, th, td {
            border: 1px solid #f10505;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>
<h1 align="center">ფოტოები</h1>

<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Data</th>
        <th>File Name</th>
        <th>File Type</th>
        <th>Actions</th>

    </tr>
    <tr th:each="file : ${file}">
        <td th:text="${file.getId()}"></td>
        <td th:text="${file.getData()}"></td>
        <td th:text="${file.getFileName()}"></td>
        <td th:text="${file.getFileType()}"></td>
        <td><a th:href="@{/getFile/{id}(id=${file.getId()})}"> <img th:src="@{/getFile/{id}(id=${file.getId()})}"
                                                                    width="40" height="40"></a>
            <br>
            <a th:href="@{/downloadFile/{fileId}(fileId=${file.getId()})}"> Download </a> <br>

        </td>

    </tr>
</table>

</body>
</html>