<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/tgymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        table, th, td {
            border: 1px solid #f10505;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>

<div align="center">
    <h1 align="center">მომხმარებელთა სია</h1>
    <form method="get" th:action="@{/user/findUsers}" th:object="${searchData}">
        <label>Name</label>
        <input type="text" th:field="*{firstName}">

        <label>Surname</label>
        <input type="text" th:field="*{lastName}">

        <label>Email</label>
        <input type="text" th:field="*{email}">

        <label>Age</label>
        <input type="number" th:field="*{age}">

        <label>Gender</label>
        <select th:field="*{gender}">
            <option th:value="''" th:text="'Select gender'"></option>
            <option th:value="'Male'" th:text="Male"></option>
            <option th:value="'Female'" th:text="Female"></option>
        </select>

        <button type="submit"> ძებნა</button>
    </form>
</div>
<br>


<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>სახელი</th>
        <th>გვარი</th>
        <th>ელექტრონული ფოსტა</th>
        <th>აქტიური</th>
        <th>ასაკი</th>
        <th>სქესი</th>
        <th>როლი</th>
        <th sec:authorize="hasAuthority('ADMIN')">მოქმედებები</th>

    </tr>
    <tr th:each="user : ${user}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.isEnable()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getGender()}"></td>
        <td th:text="${user.getRoles().get(0).getRole()}"></td>
        <td sec:authorize="hasAuthority('ADMIN')">
            <button onclick="return confirm('დარწმუნებუი ხარ, რომ ნამდვილად გინდა მომხმარებლის წაშლა?');"
                    id="btnDelete"><a th:href="@{/user/delete/(id=${user.getId()})}">წაშლა</a></button>

            <a th:href="@{/user/edit/(id=${user.getId()})}">
                <button>Edit</button>
            </a>
        </td>
    </tr>
</table>


</body>
</html>